# Ігнорувати байт-коди Python
__pycache__/
*.py[cod]

# Ігнорувати середовище віртуального середовища (якщо ви використовуєте virtualenv)
venv/
env/
*.venv/

# Ігнорувати IDE/редактор налаштування
.idea/
.vscode/

# Ігнорувати файли і каталоги для операційних систем
.DS_Store
Thumbs.db


